body{
    text-align: center;
    color: rgb(220, 235, 14);
    background-image: url(city.jfif);
    background-size: 1500px;
    
}

h1 {
    text-align-last: center;
    text-decoration-style: dashed;
}

#animationView {
    background-image: url(ocean.jfif);
background-size: 1350px;

}


