body{
    text-align: center;
    background-image: url(main.jfif);
    
}

h1 {
    text-align-last: center;
    text-decoration-style: dashed;
}

#animationView {
    background-image: url(ocean.jfif);
background-size: 1300px;

}
#center{
    border-block: 1000px x 23px;
    border-block-end-width: 400px;
    border-block-end-color: rgb(65, 175, 50);
}


